{% load static %}

<div class="flex flex-col">
    {% for item in bookmarks %}
        <div class="flex my-[var(--space-small)] cursor-pointer" hx-get="{% url 'item_view' %}" hx-push-url="/item/{{item.id}}" hx-target="#center-content"
            hx-vals='{"item_id":"{{item.id}}", "user_id":"{{item.user.id}}", "bookmark_owner_id": "{{user_id}}"}'
            hx-swap="show:window:top" hx-on:htmx-trigger="document.querySelector('#header-title').innerHTML = '';">
            <img class="h-20 w-20 mr-[var(--space-large)] aspect-square object-cover rounded-xl" src="{{ item.imageurl }}">
            <div class="flex flex-col justify-center">
                <div class="mb-[var(--space-small)] font-500 font-bold line-clamp-2">
                    {{ item.title }}
                </div>
                <div class="flex items-center">
                    <img class="w-5 h-5 mr-[var(--space-small)] rounded-full" src="{{ item.user.profile_pic }}">
                    <div class="flex-grow font-600 align-middle">
                        <span>{{ item.user.username }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>