{% load static %}

<div class="mb-[var(--space-2xlarge)]">
    <div hx-get="{% url 'bookmarks_view' user_id %}"  hx-target="#center-content"
        hx-swap="show:window:top"
        hx-on:htmx-trigger="document.querySelector('#header-title').innerHTML = '';"
        class="grid grid-cols-4 grid-rows-2 gap-px mt-[var(--space-2xlarge)] mb-[var(--space-medium)] overflow-hidden rounded-xl cursor-pointer">
        {% for item in all_bookmarks %}
            <img class="aspect-square object-cover" src="{{ item.imageurl }}">
        {% endfor %}
    </div>
    <div class="font-500 font-bold mb-[var(--space-large)]">All bookmarks</div>
    
    <div class="grid grid-cols-2 gap-y-8 gap-x-4 sm:gap-x-12 pt-[var(--space-large)]">
        {% for list in bookmark_lists %}
        <div hx-get="{% url 'bookmarks_view' user_id %}"  hx-target="#center-content"
            hx-swap="show:window:top"
            hx-on:htmx-trigger="document.querySelector('#header-title').innerHTML = '';"
             class="cursor-pointer">
            <div class="grid grid-cols-2 grid-rows-2 gap-px overflow-hidden rounded-xl">
                {% for item in list.bookmark_items %}
                    <img class="aspect-square object-cover" src="{{ item.imageurl }}">
                {% endfor %}
            </div>
            <div class="font-500 font-bold mt-[var(--space-medium)]">{{ list.title }}</div>
        </div>
        {% endfor %}
    </div>
</div>