{% load static %}

<div hx-get="{% url 'header_content_view' %}" hx-target="#header-content" hx-vals='{"list_id":"{{list_id}}", "user_id":"{{user_id}}", "bookmark_owner_id": "{{bookmark_owner_id}}", "last_view":"{{last_view}}", "last_url":"{{last_url}}"}' hx-trigger="load"></div>

<div class="flex flex-col items-center justify-center">
    <div class="main-content main-content-md sm:rounded-md item-content flex flex-col mb-2 p-[var(--space-3xlarge)] bg-[color:var(--background-default)]">
        <div hx-get="{% url 'item_content_view' %}" hx-vals='{"item_id": "{{item_id}}", "user_id":"{{user_id}}", "last_url": "{{last_url}}", "last_view": "{{last_view}}"}' hx-trigger="load" hx-swap="outerHTML">
            <div class="loading-indicator flex items-center justify-center">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <div hx-get="{% url 'more_items_view' %}" hx-vals='{"item_id": "{{item_id}}", "user_id":"{{user_id}}", "list_id": "{{list_id}}"}' hx-swap="outerHTML" hx-trigger="load">
    </div>
</div>