<div class="hidden" hx-get="{% url 'header_content_view' %}" hx-target="#header-content" hx-vals='{"list_id":"{{list_id}}", "user_id":"{{user_id}}", "title": "{{title}}", "num_links": {{num_links}}}' hx-trigger="load"></div>

<div class="main-content main-content-lg sm:rounded-md list-content flex flex-col items-center mb-2 sm:my-4 p-8 bg-[color:var(--background-default)]">
    <div class="grid grid-cols-3 gap-x-4 gap-y-8">
        {% for item in results %}
        <a hx-get="{% url 'item_view' %}" hx-push-url="/item/{{item.id}}" hx-target="#center-content"
            hx-vals='{"item_id":"{{item.id}}", "user_id":"{{user_id}}"}' 
            hx-on:htmx-trigger="document.querySelector('#header-title').innerHTML = '';" hx-swap="show:window:top">
            <img class="aspect-square object-cover rounded-xl" src="{{ item.imageurl }}">
            <div class="pt-[var(--space-medium)] font-500 font-bold line-clamp-2">
                {{ item.title }}
            </div>
        </a>
        {% endfor %}
    </div>
</div>