<div class="hidden" hx-get="{% url 'header_content_view' %}" hx-target="#header-content" hx-vals='{"title": "{{title}}", "num_links": "{{num_links}}"}' hx-trigger="load" hx-push-url="/profile/{{user_id}}/lists/{{list_id}}/"></div>

<div class="main-content main-content-lg sm:rounded-md list-content flex flex-col items-center mb-2 sm:my-4 p-8 bg-[color:var(--background-default)]">
    <div class="grid grid-cols-3 gap-x-4 gap-y-8">
        {% for item in results %}
        <a hx-get="{% url 'item_view' user_id list_type list_id item.slug %}"  hx-target="#center-content"
            hx-on:htmx-trigger="document.querySelector('#header-title').innerHTML = '';" hx-swap="show:window:top"
            hx-push-url="/profile/{{user_id}}/{{list_type}}/{{list_id}}/{{item.slug}}/">
            <img class="aspect-square object-cover rounded-xl" src="{{ item.imageurl }}">
            <div class="pt-[var(--space-medium)] font-500 font-bold line-clamp-2">
                {{ item.title }}
            </div>
        </a>
        {% endfor %}
    </div>
</div>