{% load static %}

<div class="sm:hidden px-[var(--space-large)] py-[var(--space-medium)] [color:var(--content-tertiary)] bg-[color:var(--background-default)] border-t border-[color:var(--border-normal)] fixed left-0 right-0 bottom-0 z-40">
    <nav class="flex font-500 [&>a]:rounded-lg [&>a]:px-[var(--space-small)]">
        {% for item in items %}
        <a class="flex justify-center flex-1 group {% if item.is_selected %} [color:var(--content-primary)]{% endif %}" href="{{ item.url }}">
            <img class="group-hover:hidden h-7" src="{% if item.is_selected %} {{ item.icon_selected }} {% else %} {{ item.icon }} {% endif %}"/>
            <img class="hidden group-hover:flex h-7" src="{{ item.icon_selected }}"/>
        </a>
        {% endfor %}
    </nav>
</div>