{% load static %}

<div hx-get="{% url 'header_content_view' %}" hx-target="#header-content" hx-vals='{"title":"{{user_name}}"}' hx-trigger="load"></div>

<div class="flex items-center justify-center">
    <div class="main-content main-content-lg sm:rounded-md flex flex-col items-center mb-2 sm:my-4 sm:p-8 bg-[color:var(--background-default)]">
        <div hx-get="{% url 'profile_content_view' %}" hx-vals='{"user_id":"{{user_id}}"}' hx-trigger="load" class="profile-content">
            <div class="loading-indicator flex items-center justify-center">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div class="lists-container font-400 font-bold w-full">
            <div hx-target="#list-content" class="tab-list text-center m-auto border-b border-[color:var(--border-normal)] [&>button]:p-2 [&>button]:rounded-none" role="tablist"
                hx-on:htmx-trigger="let currentTab = document.querySelector('[aria-selected=true]');
                            currentTab.setAttribute('aria-selected', 'false')
                            currentTab.classList.remove('selected')
                            let newTab = event.target
                            newTab.setAttribute('aria-selected', 'true')
                            newTab.classList.add('selected')
                            document.getElementById('list-loading-indicator').style.display = 'flex'"
                hx-on:htmx-after-on-load="document.getElementById('list-loading-indicator').style.display = 'none'">
                <button id="get-keeplists" hx-get="{% url 'keeplist_preview_view' %}" hx-vals='{"user_id":"{{user_id}}"}' hx-on:htmx-trigger="document.getElementById('list-content').innerHTML = ''" onclick="htmx.trigger('#get-bookmarks', 'htmx:abort')" class="get-keeplists inline-block selected border-none relative inset-y-px active:[color:var(--action-inverted-pressed)]" role="tab" aria-selected="true" aria-controls="tab-content">Keeplists</button>
                <button id="get-bookmarks" hx-get="{% url 'bookmarks_preview_view' %}" hx-vals='{"user_id":"{{user_id}}"}' hx-on:htmx-trigger="document.getElementById('list-content').innerHTML = ''" onclick="htmx.trigger('#get-keeplists', 'htmx:abort')" class="inline-block relative inset-y-px active:[color:var(--action-inverted-pressed)]" role="tab" aria-selected="false" aria-controls="tab-content">Bookmarks</button>
            </div>
            
            <div id="list-loading-indicator" class="loading-indicator flex items-center justify-center mt-[var(--space-3xlarge)]">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <div id="list-content" class="tab-content px-4 sm:px-0" hx-get="{% url 'keeplist_preview_view' %}" hx-vals='{"user_id":"{{user_id}}"}' hx-trigger="load" hx-on:htmx-after-on-load="document.getElementById('list-loading-indicator').style.display = 'none'" role="tabpanel">
            </div>
        </div>
    </div>
</div>