{% load static %}

<div id="modal" class="share-modal flex flex-col justify-center items-center fixed top-0 bottom-0 left-0 right-0 z-50" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay absolute -z-1 top-0 bottom-0 left-0 right-0" _="on click trigger closeModal"></div>
	<div class="modal-content relative p-[var(--space-4xlarge)] bg-[color:var(--background-default)] rounded-xl">
        <div class="absolute top-4 right-4 p-[var(--space-xsmall)] cursor-pointer bg-[color:var(--background-surface)] rounded-full" _="on click trigger closeModal"><img src={% static "close.svg" %}></div>
		<div class="font-300 font-bold mb-[var(--space-large)]">Share profile</div>
        <div class="flex justify-between font-400 py-[var(--space-medium)] px-[var(--space-xlarge)] mb-[var(--space-4xlarge)] bg-[color:var(--background-surface)] rounded-full">
            <div class="flex-1 overflow-hidden truncate">{{ profile_url }}</div>
            <div class="relative cursor-pointer" hx-on:click="navigator.clipboard.writeText('{{full_profile_url}}'); document.getElementById('copied-tooltip').style.display = 'block'; setTimeout(() => {document.getElementById('copied-tooltip').style.display = 'none';}, 5000)">
                <img src={% static "copy.svg" %}>
                <div id="copied-tooltip" class="absolute -bottom-10 -left-4 hidden">Copied!</div>
            </div>
        </div>
		<div class="flex">
            <img class="splash-qr-code mr-[var(--space-large)] rounded-md" src={% static "qr-code.png" %}>
            <div class="">
                <p class="font-300 font-bold mb-[var(--space-small)]">
                    Get the Keeplist app
                </p>
                <p class="font-500">
                    Scan the QR code to get the app or download from app stores.
                </p>
                <div class="flex mt-[var(--space-large)]">
                    <button class="app-store-button flex flex-inline bg-[color:var(--black)] [&>img]:inline-block mr-[var(--space-small)]">
                        <img class="mr-[var(--space-medium-small)]" src={% static "apple-icon.svg" %}>
                        <img src={% static "apple-store-text.svg" %}>
                    </button>
                    <button class="app-store-button flex flex-inline bg-[color:var(--black)] [&>img]:inline-block">
                        <img class="mr-[var(--space-medium-small)]" src={% static "google-play-icon.svg" %}>
                        <img src={% static "google-play-text.svg" %}>
                    </button>
                </div>
            </div>
        </div>
	</div>
</div>